@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;900&family=Raleway:ital,wght@0,600;0,700;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bodyColort: #08080a;
    --textColor: #ebebeb;
}
body{
    height: 100vh;
    display: grid;
   place-items: center;
   background-color: var(--bodyColort);
}
h1{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    cursor: pointer;
    line-height: 120px;
}
h1 span{
    text-transform: capitalize;
    font-size: 3em;
    color: var(--textColor);
    display: inline-block;
    transform-origin: 50% 100%;
}
h1 span:hover{
    animation: Vowel .6s ease-in-out infinite;
    color: #e1ff0f;
}
@keyframes Vowel{
    0%,
    50%{
        transform: translate3d(0, 0, 0) scaleY(1.3);
    }
    25%{
        transform: translate3d(0, -8px, 0) scaleY(1.3);
    }
    75%{
        transform: translate3d(0, 3px, 0) scaleY(.3);
    }
    100%{
        transform: translate3d(0, 0, 0) scaleY(1.3);
    }
}